/* LAPTOP */

/************************* HEADER *********************/
.header-container {
	position: relative;
}
.headline-recipe {
	color: #7a7a7a;
	font-weight: 700;
	font-size: 12px;
}
.headline-ingredient {
	color: #7a7a7a;
	font-family: 'Manrope', sans-serif;

	font-weight: 700;
	font-size: 12px;
}
.recipe-name {
	font-weight: 400;
	font-size: 18px;
}
body {
	margin: 0;
	padding: 0;
}
.logo {
	position: absolute;
	z-index: 1;
	top: 40px;
	left: 40px;
}
.image-container {
	position: relative;
}
.search-content {
	position: absolute;
	color: #fdd15b;
	top: 50%;
	left: 50%;
	transform: translate(
		-50%,
		-50%
	); /* Pour centrer l'élément par rapport à son coin supérieur gauche */
	text-align: center;
	/* justify-content: center;
	width: 70%;
	top: 30%;
	transform: translate(15%, 20%); */
}
.searchbar-content i {
	display: none;
	position: absolute;
	color: grey;
	cursor: pointer;
	right: 12%;
}
.search-content h1 {
	display: flex;
	justify-content: center;
	text-align: center;
}
.search-bar {
	width: 100%;
	height: 70px;
	border: none;
	border-radius: 5px;
}
.searchbar-content {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.search-button {
	position: absolute;
	display: flex;
	align-items: center;
	margin-right: 10px;
}
.header-image {
	/* max-width: 1440px; */
	width: 100%;
	display: block;
	/* justify-content: center; */
}
/************************* BODY *********************/
/*  DROPDOWN */
.dropdown {
	position: relative;
	height: 100%;
}
.dropdown_content {
	display: none;
	flex-direction: column;
	list-style-type: none;
	transition: 0.1s ease-in-out;
	margin: 0px 0px 0px -40px;
}
.dropdown_content li {
	position: relative;

	z-index: 1;
	max-height: calc(1.2em * 10);
	overflow: overlay;
	text-overflow: ellipsis;
}

.dropdown_content.show-options {
	/* background-color: lightgreen; */
	display: flex;
	height: 200px;
}

.fas.fa-chevron-up {
	display: none;
	cursor: pointer;
}
.fas.fa-chevron-down {
	cursor: pointer;
}
.filter {
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
	margin-left: 2%;
}
.fa-chevron-up {
	display: none;
}
.inputIngredient,
.inputAppliance,
.inputUstensils {
	position: absolute;
}
.fa-magnifying-glass {
	position: relative;
	font-size: 14px;
	left: 125px;
	top: 5px;
	margin-bottom: 10px;
}

#total-recipes {
	margin-left: auto;
	margin-right: 10px;
}
.button-filter {
	background-color: white;
	padding: 10px 15px 10px 15px;
	margin: 15px 25px 15px 18px;
	border-radius: 5px;
	border: none;
}
.button-filter span {
	margin-right: 15px;
}
.container {
	background-color: #ececec;
}
.card-menu {
	display: grid;
	/* max-width: 1440px; */
	column-gap: 50px;
	row-gap: 35px;
	margin: 0px 25px 0px 25px;
	grid-template-columns: repeat(3, 1fr);
	border-radius: 15px;
}
.card-recipe {
	background-color: white;
	display: grid;
	position: relative;
	width: 100%;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.card-recipe p {
	/* margin-left: 5px; */
	padding-left: 10px;
}
.card-recipe h2 {
	/* margin-left: 10px; */
	padding-left: 10px;
}
.card-recipe h3 {
	/* margin-left: 10px; */
	padding-left: 10px;
}
.divCardImage {
	background-color: #ececec;
	overflow: hidden;
	height: 350px;
}
.card-menu-image {
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	width: 100%;
	height: 350px;
	object-fit: cover;
}
.recipe-description {
	max-height: calc(1.2em * 4);

	/* text-overflow: clip; */
	overflow: hidden;
	text-overflow: ellipsis;
}
.recipe-time {
	background-color: #fdd15b;
	position: absolute;
	top: 10px; /* Ajustez selon vos préférences */
	right: 10px;

	padding: 5px 10px;
	border-radius: 40px;
}
.menuIngredientLi:hover,
.menuApplianceLi:hover,
.menuUstensilsLi:hover,
.filteredListUstensils:hover,
.filteredListAppliance:hover,
.filteredListIngredients:hover,
.menu-item-ingredients li:hover,
.menu-item-appliance li:hover,
.menu-item-ustensils li:hover {
	cursor: pointer;
	background-color: #fdd15b;
}

.paraList span {
	background-color: #fdd15b;
	cursor: pointer;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	list-style-type: none;
}

.container-tag img {
	/* background-color: red; */
	width: 10px;
	height: 10px;
}

.ingredient-content {
	font-family: 'Manrope', sans-serif;
	width: calc(50% - 10px);
	margin-bottom: 20px;
	display: inline-block;
}
.ingredient-content:nth-child(odd) {
	/* background-color: red; */
	margin-right: 20px;
}
.ingredient-quantity-unit {
	font-family: 'Manrope', sans-serif;
	color: #7a7a7a;
	font-weight: 400;
	font-style: normal;
	margin-top: -10px;
}

#total-recipes {
	font-family: 'Anton', sans-serif;
	font-weight: 400;
	font-style: normal;
}
/* MOBILE */
@media (max-width: 768px) {
	/* Pour les écrans de petite taille, une seule colonne */
	.ingredient-content {
		width: 100%;
		margin-right: 0;
	}
}
/* TABLET */
